body{
    margin: 0;
    background: rgb(235, 235, 235);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-primary{
    background: #696969;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover{
    background: #4d4d4d;
}

.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.notification{
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #0f0f0f;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    gap: 10px;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 0.8rem;
    font-weight: 600;
    color: #ffffff;
}

.location{
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(161, 159, 159);
}

.notif-i{
    font-size: 1.5rem;
    background-color: rgb(113, 243, 113);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    width: 160px;
    color: #ffffff;
    font-size: 0.8rem;
}

.price{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
}

.animate{
    animation: popup 1.5s forwards;  /* tutorial is :popup 0.5s forwards */
}

@keyframes popup{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        transform: translateY(15px);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}